/* PALETTE: https://coolors.co/ff00b1-8cc63f-232323-121212-ffffff */


:root {
  --left-primary: #ff00b1;
  --right-primary: #8cc63f;
  --warmgrey: #232323;
  --twitchDarkerColor: #772ce8;
  --twitchColor: #9147ff;
  --leftPercentage: 0.5;
}


html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Raleway;
  background-color: #121212;
}

body {
  background-color: #121212 !important;
  height: 100%
}

/* with this icons in buttons don't generate click events, only parent (button) does */
button>* {
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  overflow: hidden;

  transition: all 1s;
}

.logo-container {
  margin-right: auto;
  height: 100%;
  flex: 1;
}

.title {
  font-size: clamp(24px, calc(1.5rem + ((1vw - 3.75px) * 1.0356)), 40px);
  text-align: center;
  border: none;
  resize: none;
  color: white;
  background-color: #121212;

  font-family: Raleway;
  text-transform: uppercase;
  margin-top: 1%;
  width: 100%;
  line-height: 100%;
  overflow: hidden;
  flex: 8;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: auto;
  min-width: fit-content;

}

.randomize-title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  margin: 10%;
  height: fit-content;
  padding: 5%;

  transition: all 0.3s ease 0s;
}

.randomize-title-button:hover {

  background-color: white;
  color: black;
}

.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  margin: 10%;
  height: fit-content;
  padding: 5%;

  transition: all 0.3s ease 0s;
}

.settings-button:hover {
  background-color: white;
  color: black;
}

.material-icons {
  font-size: clamp(1rem, 1.5vw, 5rem) !important;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, .5);
}

.modal-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  max-width: 500px;
  margin: 1.75rem auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  box-sizing: border-box;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
}

.modal-close-button {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
}

.modal-close-button:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
  box-sizing: border-box;
}

.options-container {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.twitchSafeMode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twitch-safeMode-checkbox {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  gap: 10px;
}

/* double class is necessary to overwrite default display property */
.hidden.hidden {
  display: none;
}

.twitch-options-container {
  display: flex;
  flex-direction: column;
  padding-top: 5%;

}

.twitch-username-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: fit-content;
}

#twitchUsernameInput {

  max-width: 16ch;
  height: 2.5rem;
}

.twitch-connection-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 2.5rem;

  border-radius: 0.2rem;
  padding: 3%;
  margin: 3%;
  background-color: var(--twitchColor);
  border: none;
  color: white;
}

.twitch-connection-button:hover {
  background-color: var(--twitchDarkerColor);
  transition: all 0.3s;
}

.twitch-extra-options {
  display: flex;
  flex-direction: row;
}

.twitch-vote-command {
  display: flex;
  width: 100%;
  flex: 1;
}

.match-container {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: fit-content;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* SMARTPHONE LAYOUT */
@media only screen and (max-width: 400px) {
  .match-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .center-screen-container {
    height: 15%;
  }
}

#characterPreview {
  border: black 2px solid;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}

.center-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  width: 15%;
  min-width: fit-content;
}

.twitch-voteCommands-title {
  color: white;
  font-size: clamp(1rem, 1.3vw, 5rem);
  font-weight: 600;
  margin-bottom: 15%;
}

.twitch-voteCommands-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.twitch-voteCommands-label {
  margin-bottom: 15%;

  font-size: clamp(1rem, 1.3vw, 5rem);
  font-weight: 900;
  background-color: transparent !important;
}

.newMatch-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 33%;
  aspect-ratio: 1/1;

  transition: all 0.3s;
}

.newMatch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  z-index: 5;
  position: absolute;
  border-radius: 100%;
  height: 60%;
  aspect-ratio: 1/1;

  background-color: white;
  color: var(--warmgrey);
  border: none;

  transition: all 0.3s;
}

.newMatch-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transform: scale(1.2);

  animation: pulse-animation 1.5s infinite;
}

.newMatch-button:hover>.vs-label {
  display: none;
  opacity: 0;
}

.newMatch-button:hover>#newMatch-shuffle-icon {
  display: block;
  opacity: 1;
  color: white;
}

#newMatch-shuffle-icon {
  font-size: clamp(1em, 2.5vw, 5em) !important;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.vs-label {
  display: block;
  opacity: 1;
  font-size: clamp(1rem, 3vw, 8rem);
  transition: opacity 0.3s;
}

.twitch-piechart-container {

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 3s;
}

.pulse-animation {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

svg {
  transform: rotate(-90deg);
  position: absolute;
  stroke-dasharray: 1257;
  /* (2PI * 40px) */
  stroke-dashoffset: calc(-315% * calc(1 - var(--leftPercentage)));
  /* -157.5% is half circle, 0% is full right, -315% is full left      */
  background-color: var(--right-primary);
  transition: all 3s;
}

circle {
  align-items: center;
  stroke: var(--left-primary);
  fill: transparent;
  transition: all 3s;
}

.twitch-percentages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.twitch-percentage-label {
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: clamp(1rem, 1.3vw, 5rem);
  font-weight: 900;
  background-color: transparent !important;
}